@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-brand: 'Inter', sans-serif;

  --color-brand: #123456;
  --color-brand-darken: #0f2e4d;
  --color-brand-lighten: #345678;

  --color-nav-bg: var(--color-brand);
  --color-nav-text: #ffffff;
  --color-nav-hover-bg: var(--color-brand-darken);
  --color-nav-hover-text: #ffffff;

  --color-subnav-bg: #ffffff;
  --color-subnav-text: #111111;
  --color-subnav-hover-bg: var(--color-brand);
  --color-subnav-hover-text: #ffffff;

  --color-nav-mobile-bg: var(--color-brand);
  --color-nav-mobile-text: #ffffff;
  --color-nav-mobile-item-bg: var(--color-brand-darken);
  --color-nav-mobile-trigger-bg: var(--color-brand-lighten);
  --color-nav-mobile-dropdown-bg: var(--color-brand-lighten);


  --base-radius: 0.325rem;
}

body {
  @apply font-brand bg-gray-100 text-gray-900;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300 ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

/** Navigation */
.nav {
  .navitem {
    @apply p-4 block text-nav-text hover:bg-nav-hover-bg hover:text-nav-hover-text cursor-pointer;
  }

  div:first-child > .navitem {
    @apply rounded-l-(--base-radius);
  }

  .dropdown {
    .subnavitem {
      @apply flex items-center justify-between px-4 py-2 text-subnav-text hover:bg-subnav-hover-bg hover:text-subnav-hover-text whitespace-nowrap cursor-pointer;
    }

    > div:first-child > .subnavitem {
      @apply rounded-t-(--base-radius);
    }

    > div:last-child > .subnavitem {
      @apply rounded-b-(--base-radius);
    }
  }

  .nested-dropdown {
    > .subnavitem:first-child {
      @apply rounded-t-(--base-radius);
    }

    > .subnavitem:last-child {
      @apply rounded-b-(--base-radius);
    }
  }

  .dropdown.submenu-left {
    left: auto;
    right: 0;
  }

  .nested-dropdown.submenu-left {
    left: auto;
    right: 100%;
    transform: translateX(0.5rem); /* translate-x-2 equivalent */
  }

  .nested-dropdown.submenu-left:is(.group-hover\/nested *) {
    transform: translateX(0);
  }
}

.button  {
  @apply bg-brand text-white px-4 py-2 rounded-(--base-radius) hover:bg-brand-darken cursor-pointer transition-colors no-underline;
}

.leaflet-control-attribution {
  display: none;
}