@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand: #123456;
  --color-brand-hover: #0f2a4d;
  --color-brand-soft: #e0e7ff;
  --font-brand: 'Inter', sans-serif;
}

body {
  @apply font-brand bg-gray-100 text-gray-900;
}